body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#drawspace {
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    display: block;
    border: 5px dotted blue;
}
